*{
    margin: 0;
    padding: 0;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.header{
    width: 100%;
    height: 10vh;
    background: #000;
}

.main{
    width: 100%;
    height: 80vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.heard{
    position: absolute;

    top: 0;
    right: -130px;
    width: 98px;
    height: 99px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heard div{
    position: absolute;
    font-size: 40px;
}
.heard img{
    position: absolute;
    width: 90px;
}

.score{
    position: absolute;

    right: -130px;
    bottom: 0;
    width: 98px;
    height: 98px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.score div{
    position: absolute;
    font-size: 40px;
}
.score img{
    position: absolute;
    width: 80px;
}


.center{
    display: flex;
}

.letters{
    position: absolute;
    left: -130px;
    width: 100px;
    height: 200px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main_box{
    position: relative;
    min-width: 300px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    column-gap: 15px;

    padding: 0 15px 0 15px;
}

.backImg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("photos/copybook.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 50%;
}

.box{
    width: 50px;
    height: 45px;
    border-bottom: 3px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 60px;
}

.badBox{
    width: 50px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    text-decoration: line-through;
}

.main_inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 200px;
    height: 37px;
    border: 2px solid grey;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 7px;
}

button{
    margin-top: 15px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
}
.gameOver{
    position: absolute;
    z-index: 2;
    display: none;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}
.gameOver div{

    width: 200px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #fff;
    border-radius: 10px;
}

.gameOver div p:last-of-type{
    margin-top: 15px;
}

.opacity{
    display: none;
    position: absolute ;
    z-index: 1;
    width: 100%;
    height: 100vh;

    background: black;
    opacity: 0.5;
}

